*
  box-sizing: border-box

html
  width: 100%
  height: 100%

body
  font-size: $bfs
  line-height: $blh
  position: relative
  height: 100%

ul
  margin: 0
  padding: 0
  li
    list-style: none
    display: inline-block

a
  text-decoration: none
  color: inherit

hr
  margin-top: 2*$blh
  width: 50%
  height: 10px
  border-width: 0
  border-top: 1px solid #E1E1E1

label
  display: block
  height: 1.5 * $blh

input, textarea
  width: 100%
  border-radius: 5px
  background: #e7e7e7
  border: none
  margin-bottom: $blh
  padding-left: $bfs/2

input
  height: 1.5 * $blh

textarea
  resize: vertical

input.btn
  height: 2 * $blh
  font-size: $blh
  background: #e7e7e7
  color: white
  transition: all 0.5s ease-out
  &:hover
    background: #e1e1e1

  &:last-child
    float: right
input[type="reset"]
  float: left

//
// UTILS
//

.fixed
  position: fixed
  width: 100%
  z-index: $z-fixed
  transition: all .1s ease-out

.text-centered
  text-align: center

.no-padding
  padding: 0 0

.no-margin
  margin: 0 0

.blh
  font-size: $blh








