@media (max-width: 1200px)

  h1
    font-size: $blh*2
    margin: $blh

  .column, .columns
    padding: 0 1vw
  .column.no-padding, .columns.no-padding
    padding: 0 0

  hr
    display: none

  form h2
    margin: 2*$blh 0

  hr
    display: block





@media (max-width: 750px)

  hr
    display: block





@media (max-width: 500px)

  hr
    display: none





