/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* For all devices*/
.container {
  position: relative;
  width: 97%;
  margin: 0 auto;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  padding: 0 1.6872rem;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 350px) {
  .container {
    width: 96%;
    padding: 0; }
}

/* For devices larger than 768px */
@media (min-width: 768px) {
  .container {
    width: 95%; }

  .three.columns                  { width: 50%;            }
  .four.columns                   { width: 100%; }

  .six.columns                    { width: 100%;            }
  .twelve.columns                 { width: 100%; margin-left: 0; }
}

/* For devices larger than 960px */
@media (min-width: 960px) {
  .container {
    width: 94%; }

  //smallest column should be three columns
  //keep only dividers of 12

  .three.columns                  { width: 25%;            }
  .four.columns                   { width: 33.333%; }

  .six.columns                    { width: 50%;            }
  .twelve.columns                 { width: 100%; margin-left: 0; }
}

@media (min-width: 1366px) {
  .container {
    width: 1366px; }

  //smallest column should be three columns
  //keep only dividers of 12

  .three.columns                  { width: 25%;            }
  .four.columns                   { width: 33.333%; }

  .six.columns                    { width: 50%;            }
  .twelve.columns                 { width: 100%; margin-left: 0; }
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }






