h1
  font-size: $h1-font-size
  line-height: 3 * $blh
  margin-top: 2 * $blh
  margin-bottom: 2 * $blh
  font-family: $title
  text-transform: uppercase

p
  line-height: $blh
  margin: $blh 0

body
  font-family: $default-text

nav li
  text-transform: uppercase
  // color: $white

.title
  font-family: $title
  font-weight: 300

.subtitle
  font-family: $title
  font-weight: 600
  text-transform: uppercase
  text-align: center


.text-big
  width: 60%
  margin: 0 auto
  padding-bottom: 3*$blh
  font-size: $blh
  line-height: $blh*1.6875

.text-sub
  font-weight: 700
  &.special
    padding-bottom: 2*$blh

  &:last-child
    margin-bottom: 2*$blh

i
  font-size: $blh *2

p.asterix
  font-style: italic

p.message
  font-size: $blh
  font-weight: 400